albumentations==2.0.8
bert_score==0.3.13
evaluate==0.4.6
huggingface_hub==1.4.0
lmstudio==1.5.0
matplotlib==3.10.8
mlx==0.30.5
mlx_lm==0.30.5
mlx_metal==0.30.5
numpy==2.4.4
opencv-python
onmt==1.0.0
openai==2.31.0
OpenNMT-py==2.2.0
pandas==3.0.2
pdf2image==1.17.0
Pillow==12.2.0
pyonmttok==1.37.1
pypdf==6.10.0
pyparsing
pytorch-lightning
pystow==0.8.3
PyYAML==6.0.3
rdkit==2025.9.3
rouge_score==0.1.2
scikit_learn==1.8.0
scipy==1.17.1
setuptools==80.9.0
six
SmilesPE==0.0.3
tensorboardX==2.6.5
timm==1.0.26
torch==2.10.0
tqdm==4.67.1



